@charset "utf-8";
/* CSS Document */

/* Statti Color CSS v1.0 by Angelo Mazzilli */
/* http://themeforest.net/user/AngeloM */


/* Sections About */
.section#about, .section-about i.active {
	background: #FC0;
}

/* Sections Services */
.section#services, .section-services i.active {
	background: #AD0;
}

/* Sections Portfolio */
.section#folio, .section-folio i.active, .item .item-detail {
	background: #0CC;
}

/* Sections register */
.section#register, .section-register i.active, #register .item .item-detail {
	background: #669;
}

/* Sections Contact */
.section#contact, .section-contact i.active {
	background: #F33;
}

/* Sections About */
.section#hacknight, .section-hacknight i.active {

	background: #2196f3;
}
.section#swatthebug, .section-swatthebug i.active {
	background: #de6dc6;
}
.section#boombox, .section-boombox i.active {
	background: #44e1f3;
}

.section#hackerjack, .section-hackerjack i.active {
	background: #009688;
}

.section#bashemup, .section-bashemup i.active {
    background: #607d8b;
}


.section#bestengineer, .section-bestengineer i.active {
    background: #e91e63;
}

.section#maestro, .section-maestro i.active {
    background: #FC0;
}

.section#codeswap, .section-codeswap i.active {
    background: #009688;
}

.section#codezilla, .section-codezilla i.active {
    background:#607d8b;;
}

.section#highq, .section-highq i.active {
    background: #de7500;
}

.section#langx, .section-langx i.active {
    background: #de6dc6;
}

.section#sidhandics, .section-sidhandics i.active {
    background: #4caf50;
}

.section#startaction, .section-startaction i.active {
    background: #fdd835;
}

.section#mrcad, .section-mrcad i.active {
    background: #2196f3;
}

.section#shutterbug, .section-shutterbug i.active {
    background: #009688;
}


.section#respawn, .section-respawn i.active {
    background: #f44336;
}

.section#contraption, .section-contraption i.active {
    background: #2196f3;
}

.section#crossfire, .section-crossfire i.active {
    background: #009688;
}


.section#pirate, .section-pirate i.active {

    background: #009688;
}

.section#mysteriarch, .section-mysteriarch i.active {
    background: #de6dc6;
}

.section#hudrolaunch, .section-hudrolaunch i.active {
    background: #4caf50;
}

.section#disco, .section-disco i.active {
    background: #fdd835;
}

.section#cognizance, .section-cognizance i.active {
    background: #2196f3;
}

.section#wikisurf, .section-wikisurf i.active {
    background: #009688;
}
.section#roadies, .section-roadies i.active {
    background: #de6dc6;
}

.section#predvaita, .section-predvaita i.active {
    background: #de6dc6;
}

.section#embedded, .section-embedded i.active {
    background: #2196f3;
}

.section#python, .section-python i.active {
    background: #009688;
}