@charset "utf-8";
/* CSS Document */

/* Statti Color CSS v1.0 by Angelo Mazzilli */
/* http://themeforest.net/user/AngeloM */


/* Sections About */
.section#about, .section-about i.active {
	background: #FC0;
}

/* Sections Services */
.section#services, .section-services i.active {
	background: #035949;
}

/* Sections Portfolio */
.section#folio, .section-folio i.active, .item .item-detail {
	background: #0CC;
}

/* Sections register */
.section#register, .section-register i.active, #register .item .item-detail {
	background: #669;
}

/* Sections Contact */
.section#contact, .section-contact i.active {
	background: #F33;
}

/* Sections About */
.section#hacknight, .section-hacknight i.active {

	background: #2196f3;
}
.section#swatthebug, .section-swatthebug i.active {
	background: #7e6189;
}
.section#boombox, .section-boombox i.active {
	background: #a34249;
}

.section#hackerjack, .section-hackerjack i.active {
	background: #64b75c;
}

.section#bashemup, .section-bashemup i.active {
    background: #05a4b9;
}


.section#bestengineer, .section-bestengineer i.active {
    background: #c72f61;
}

.section#maestro, .section-maestro i.active {
    background: #d2d41c;
}

.section#codeswap, .section-codeswap i.active {
    background: #069eb2;
}

.section#codezilla, .section-codezilla i.active {
    background:#4e9643;;
}

.section#highq, .section-highq i.active {
    background: #dfb237;
}

.section#langx, .section-langx i.active {
    background: #a44a9c;
}

.section#sidhandics, .section-sidhandics i.active {
    background: #5aad53;
}

.section#startaction, .section-startaction i.active {
    background: #deb21d;
}

.section#mrcad, .section-mrcad i.active {
    background: #4084b9;
}

.section#shutterbug, .section-shutterbug i.active {
    background: #035949;
}


.section#respawn, .section-respawn i.active {
    background: #ab3024;
}

.section#contraption, .section-contraption i.active {
    background: #401f5c;
}

.section#crossfire, .section-crossfire i.active {
    background: #4a9041;
}


.section#pirate, .section-pirate i.active {

    background: #035949;
}

.section#mysteriarch, .section-mysteriarch i.active {
    background: #043f7e;
}

.section#hudrolaunch, .section-hudrolaunch i.active {
    background: #ab3024;
}

.section#disco, .section-disco i.active {
    background: #3c77a4;
}

.section#cognizance, .section-cognizance i.active {
    background: #42225e;
}

.section#wikisurf, .section-wikisurf i.active {
    background: #bd974b;
}
.section#roadies, .section-roadies i.active {
    background: #bd974b;
}

.section#predvaita, .section-predvaita i.active {
    background: #de6dc6;
}

.section#embedded, .section-embedded i.active {
    background: #103a68;
}

.section#python, .section-python i.active {
    background: #0d2f09;
}

.section#login, .section-login i.active {
    background: #4caf50;
}

.section#profile, .section-profile i.active {
    background: #103a68;
}
