@charset "utf-8";
/* CSS Document */

/* Statti CSS v1.0 by Angelo Mazzilli */
/* http://themeforest.net/user/AngeloM */

/* Google Font Roboto */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,700);

/* General */
* {
	outline: none !important;
}
html {
	overflow-x: hidden;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="radio"],
input[type="checkbox"] {
	/* IE8-9 */

	line-height: normal;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}


.radio,
.checkbox {
	display: block;
	min-height: 20px;
	padding-left: 20px;
	vertical-align: middle;
}
.radio label,
.checkbox label {
	display: inline;
	margin-bottom: 0;
	font-weight: normal;
	cursor: pointer;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
	float: left;
	margin-left: -20px;
}

.radio-inline,
.checkbox-inline {
	display: inline-block;
	padding-left: 20px;
	margin-bottom: 0;
	vertical-align: middle;
	font-weight: normal;
	cursor: pointer;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
	margin-top: 0;
	margin-left: 10px;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
.radio[disabled],
.radio-inline[disabled],
.checkbox[disabled],
.checkbox-inline[disabled],
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"],
fieldset[disabled] .radio,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox,
fieldset[disabled] .checkbox-inline {
	cursor: not-allowed;
}

.input-group-addon input[type="radio"],
.input-group-addon input[type="checkbox"] {
	margin-top: 0;
}

.form-horizontal .control-label,
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
	margin-top: 0;
	margin-bottom: 0;
}
.form-horizontal .form-group {
	margin-left: -15px;
	margin-right: -15px;
}
.form-horizontal .form-group:before,
.form-horizontal .form-group:after {
	content: " ";
	/* 1 */

	display: table;
	/* 2 */

}
.form-horizontal .form-group:after {
	clear: both;
}
.form-horizontal .form-group:before,
.form-horizontal .form-group:after {
	content: " ";
	/* 1 */

	display: table;
	/* 2 */

}
.form-horizontal .form-group:after {
	clear: both;
}


#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;

    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;

    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #fff;
    z-index: 1000;
    -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(0);  /* IE 9 */
    transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
    visibility: hidden;

    -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateY(-100%);  /* IE 9 */
    transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}

/* JavaScript Turned Off */
.no-js #loader-wrapper {
    display: none;
}



.countdown {
    text-align: center;
    background: rgba(83,129,228,0.10);
    padding: 80px 0;
}
.styled div {
    display: inline-block;
    margin-left: 10px;
    font-size: 70px;
    font-weight: normal;
    text-align: center;
    margin:0 15px;
    padding:0 30px;
    color:#fff;
    text-shadow:none;
    vertical-align: middle;
}
/* Typography */
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: 300;
	font-family: Open Sans, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-align: center;
	text-transform: uppercase;
}
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span, p span {
	font-weight: 700;
}
.main-title {
	margin: 0 auto 15px;
	padding: 19px;
	max-width: 300px;
	border: 1px solid #FFFFFF;
    color: #ffffff;
    z-index:2;
	display: block;
}
a {
	text-decoration: none;
	transition: all linear 0.25s;
	-ms-transition: all linear 0.25s;
	-moz-transition: all linear 0.25s;
	-webkit-transition: all linear 0.25s;
	-o-transition: all linear 0.25s;
}
a:hover, a:focus {
	text-decoration: none;
}
p a {
	color: #FFF;
}
p a:hover {
	color: #333;
}
hr {
	margin: 0;
	padding-bottom: 49px;
	border: 0;
	border-top: 1px dashed rgba(255,255,255,0.5);
	border-bottom: none;
}
.no-margin {
	margin: 0;
}
.margin-bottom {
	margin-bottom: 40px;
}
.lead {
	font-family: Open Sans, Arial, Helvetica, sans-serif;
	text-align: center;
    z-index: 2;
}
.hero-unit {
	padding: 50px;
	margin: 2%;
	font-weight: 200;
	background-color: rgba(0,0,0,0.1);
	border-radius: 5px;
}

/* Buttons */
.btn, .btn-primary {
	margin: 0;
	padding: 5px 10px;
	height: 20px;
	background: #FFF;
	border: none;
	border-bottom: 5px solid rgba(0,0,0,0.1);
	border-radius: 0;
	filter: none;
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	font: 300 14px/20px Open Sans, Arial, Helvetica, sans-serif;
	color: #333;
	text-shadow: none;
	transition: all linear 0.1s;
	-ms-transition: all linear 0.1s;
	-moz-transition: all linear 0.1s;
	-webkit-transition: all linear 0.1s;
	-o-transition: all linear 0.1s;
}
.btn-primary {
	background: rgba(0,0,0,0.1);
}
.btn-large {
	padding: 10px 20px;
	font-size: 18px;
	border-radius: 0;
}
.btn:hover, .btn:focus, .btn-primary:hover, .btn-primary:focus {
	height: 23px;
	background: rgba(255,255,255,0.9);
	border-bottom: 2px solid rgba(0,0,0,0.15);
	box-shadow: 0 2px 5px rgba(0,0,0,0.25);
	line-height: 23px;
	transition: all linear 0.1s;
	-ms-transition: all linear 0.1s;
	-moz-transition: all linear 0.1s;
	-webkit-transition: all linear 0.1s;
	-o-transition: all linear 0.1s;
}
.btn-primary:hover, .btn-primary:focus {
	background: rgba(0,0,0,0.25);
	border-bottom: 2px solid rgba(0,0,0,0.15);
	box-shadow: 0 2px 5px rgba(0,0,0,0.25);
}


/* banner */


.pic {
    width: 77%;
    height: auto;
    margin: 0 auto 15px 10%;
    padding: 19px;
}

/* Logo */
.logo {
	width: 33%;
	height: 15%;
	line-height: 10%;
	position: absolute;
	top: 1%;
	left: 10px;
	z-index: 2;
}


.logo p {
	margin-bottom:50px;
}
.logo img {
	vertical-align: inherit;
	width: 70%;
	height: 70%;

}
.dept {
	width: 33%;
	height: 13%;
	line-height: 10%;
	position: absolute;
	top: 1%;
	left: 30%;
	z-index: 2;
}


.dept p {
	margin-bottom:50px;
}



.nssce {
	width: 20%;
	height: 15%;
	line-height: 10%;
	position: absolute;
	top: 1%;
	right: -5%;
	z-index: 2;

}


.nssce p {
	margin-bottom:50px;
}
.nssce img {
	vertical-align: inherit;
	width: 70%;
	height: 70%;

}


/* Sections */
.section {
	margin-bottom : -5px;
	width: 10%;
	height: 18%;
	background-color: #000;
	position: absolute ;
	bottom: 0;
	transition: all linear 0.25s;
	-ms-transition: all linear 0.25s;
	-moz-transition: all linear 0.25s;
	-webkit-transition: all linear 0.25s;
	-o-transition: all linear 0.25s;
}
.section:hover {
	cursor: pointer;
}
.section.section-expand {
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	top: 0;
	right: 0 !important;
	z-index: 2;
}
.section.section-expand:hover {
	cursor: default;
	animation: none;
	-webkit-animation: none;
}
/* Sections About */
.section#boombox {
    right: 86%;
}
.section#respawn {
    right: 76%;
}
.section#bestengineer  {
    right: 66%;
}

/* Sections About */
.section#about {
    right: 56%;
}

/* Sections Services */
.section#services {
    right: 46%;
}

.section#predvaita {
	right: 36%;
}

/* Sections Portfolio */
.section#folio {
    right: 26%;
}

/* Sections register */
.section#register {
    right: 16%;
}

/* Sections Contact */
.section#contact {
    right: 6%;
}
.section#hackerjack {
	right: -100%;
}

.section#bashemup {
	right: -100%;
}

.section#hacknight {
	right: -100%;
}

.section#maestro {
	right: -100%;
}

.section#codezilla {
	right: -100%;
}

.section#codeswap {
	right: -100%;
}

.section#highq {
	right: -100%;
}

.section#langx {
	right: -100%;
}

.section#sidhandics {
	right: -100%;
}


.section#startaction {
	right: -100%;
}

.section#mrcad {
	right: -100%;
}

.section#shutterbug {
	right: -100%;
}

.section#swatthebug {
	right: -100%;
}

.section#contraption {
	right: -100%;
}

.section#crossfire {
	right: -100%;
}

.section#pirate {
	right: -100%;
}
.section#mysteriarch {
	right: -100%;
}
.section#hudrolaunch {
	right: -100%;
}
.section#disco {
	right: -100%;
}
.section#cognizance {
	right: -100%;
}
.section#wikisurf {
	right: -100%;
}
.section#roadies {
	right: -100%;
}

.section#python {
	right: -100%;
}
.section#embedded {
	right: -100%;
}

.section#login {
	right: -100%;
}


/* Switch Section */
.switch-section {
	width: 5%;
	height: 100%;
	background: rgba(0,0,0,0.1);
	box-shadow: inset -2px 0 5px rgba(0,0,0,0.25);
	cursor: pointer;
	display: none;
	overflow: auto;
	position: absolute;
	top: 0;
	left: 0px;
	z-index: 10;
	transition: all linear 0.25s;
	-ms-transition: all linear 0.25s;
	transition: all linear 0.25s;
	-webkit-transition: all linear 0.25s;
	-o-transition: all linear 0.25s;

}
.switch-section-open {
	left: 0;
}
.switch-section-cont {
	margin: -125px 0 0 0;
	width: 10%;
	height: 250px;
	z-index: 20;
	position: absolute;
	top: 20%;
	left: 2%;
}


.switch-header {
	width: 5%;
	height: 30px;
	position: fixed;
	top: 0;
	margin-bottom: 20px;
	z-index:20;
	background-color: rgba(0,0,0,0.3);
	font-size:40px;
}

.section-about i,.section-swatthebug i,.section-boombox i, .section-hacknight i,.section-services i, .section-folio i, .section-register i, .section-contact i ,.section-hackerjack i,.section-bashemup i,.section-bestengineer i,.section-maestro i,.section-codeswap i,.section-codezilla i,.section-highq i,.section-langx i,.section-sidhandics i,.section-startaction i,.section-mrcad i,.section-shutterbug i,.section-respawn i,.section-contraption i,.section-crossfire i,.section-pirate i,.section-mysteriarch i,.section-hudrolaunch i,.section-disco i,.section-cognizance i,.section-wikisurf i,.section-roadies i,.section-predvaita i,.section-python i,.section-embedded i,.section-login i{
	width: 50px;
	height: 50px;
	line-height: 50px;
	color: #FFF;
	text-align: center;
	opacity: 0.5;
	display: block;
	float: left;
	transition: all linear 0.25s;
	-ms-transition: all linear 0.25s;
	-moz-transition: all linear 0.25s;
	-webkit-transition: all linear 0.25s;
	-o-transition: all linear 0.25s;
}
.section-about i:hover, .section-boombox i:hover,.section-swatthebug i:hover, .section-hacknight i:hover,.section-services i:hover, .section-folio i:hover, .section-register i:hover, .section-contact i:hover, .section-hackerjack i:hover, .section-bashemup i:hover , .section-bestengineer i:hover, .section-codeswap i:hover , .section-codezilla i:hover , .section-highq i:hover, .section-langx i:hover , .section-sidhandics i:hover, .section-startaction i:hover , .section-mrcad i:hover, .section-shutterbug i:hover , .section-respawn i:hover, .section-contraption i:hover , .section-crossfire i:hover , .section-pirate i:hover, .section-mysteriarch i:hover , .section-hudrolaunch i:hover , .section-disco i:hover , .section-cognizance i:hover, .section-wikisurf i:hover, .section-roadies i:hover, .section-predvaita i:hover, .section-python i:hover, .section-embedded i:hover , .section-login i:hover {
	background: rgba(0,0,0,0.1);
	font-size: 30px;
	opacity: 1;
}
.section-boombox i.active {
    font-size: 30px;
    opacity: 1;
}
.section-swatthebug i.active {
    font-size: 30px;
    opacity: 1;
}
.section-hacknight i.active {
    font-size: 30px;
    opacity: 1;
}
.section-about i.active {
	font-size: 30px;
	opacity: 1;
}
.section-services i.active {
	font-size: 30px;
	opacity: 1;
}
.section-folio i.active {
	font-size: 30px;
	opacity: 1;
}
.section-register i.active {
	font-size: 30px;
	opacity: 1;
}
.section-contact i.active {
	font-size: 30px;
	opacity: 1;
}


.section-hackerjack i.active {
	font-size: 30px;
	opacity: 1;
}
.section-bashemup i.active {
	font-size: 30px;
	opacity: 1;
}
.section-bestengineer i.active {
	font-size: 30px;
	opacity: 1;
}
.section-maestro i.active {
	font-size: 30px;
	opacity: 1;
}
.section-codeswap i.active {
	font-size: 30px;
	opacity: 1;
}
.section-codezilla i.active {
	font-size: 30px;
	opacity: 1;
}
.section-highq i.active {
	font-size: 30px;
	opacity: 1;
}
.section-langx i.active {
	font-size: 30px;
	opacity: 1;
}
.section-sidhandics i.active {
	font-size: 30px;
	opacity: 1;
}
.section-startaction i.active {
	font-size: 30px;
	opacity: 1;
}
.section-mrcad i.active {
	font-size: 30px;
	opacity: 1;
}
.section-shutterbug i.active {
	font-size: 30px;
	opacity: 1;
}
.section-respawn i.active {
	font-size: 30px;
	opacity: 1;
}.section-contraption i.active {
	 font-size: 30px;
	 opacity: 1;
 }
.section-crossfire i.active {
	 font-size: 30px;
	 opacity: 1;
 }
.section-pirate i.active {
	font-size: 30px;
	opacity: 1;
}

.section-mysteriarch i.active {
	font-size: 30px;
	opacity: 1;
}
.section-hudrolaunch i.active {
	font-size: 30px;
	opacity: 1;
}
.section-disco i.active {
	font-size: 30px;
	opacity: 1;
}.section-cognizance i.active {
	 font-size: 30px;
	 opacity: 1;
 }
.section-wikisurf i.active {
	font-size: 30px;
	opacity: 1;
}
.section-roadies i.active {
	font-size: 30px;
	opacity: 1;
}
.section-python i.active {
	font-size: 30px;
	opacity: 1;
}.section-embedded i.active {
	 font-size: 30px;
	 opacity: 1;
 }
.section-close {
	width: 50px;
	height: 50px;
	background: rgba(0,0,0,0.1);
	font-family: Open Sans, Arial, Helvetica, sans-serif;
	line-height: 50px;
	color: #FFF;
	text-align: center;
	display: none;
	position: absolute;
	top: 95px;
	right: 0;
	z-index: 10;
	transition: all linear 0.25s;
	-ms-transition: all linear 0.25s;
	-moz-transition: all linear 0.25s;
	-webkit-transition: all linear 0.25s;
	-o-transition: all linear 0.25s;
}
.section-close:hover {
	background: rgba(0,0,0,0.25);
	color: #FFF;
}
.icon-label {
	width: 50px;
	height: 50px;
	background: rgba(0,0,0,0.1);
	line-height: 50px;
	color: #FFF;
	text-align: center;
	display: block;
	position: absolute;
	top: 95px;
	right: -50px;
	z-index: 10;
	transition: all linear 0.25s;
	-ms-transition: all linear 0.25s;
	-moz-transition: all linear 0.25s;
	-webkit-transition: all linear 0.25s;
	-o-transition: all linear 0.25s;
}
.icon-label:hover {
	background: rgba(0,0,0,0.25);
	color: #FFF;
}

/* Switch Menu Title */
.section .section-title {
	margin: 35px 0;
	text-align: center;
	transition: all linear 0.25s;
	-ms-transition: all linear 0.25s;
	-moz-transition: all linear 0.25s;
	-webkit-transition: all linear 0.25s;
	-o-transition: all linear 0.25s;
}
.section.section-expand .section-title {
	margin: 50px auto;
}
.section .section-title strong {
	margin: 0;
	font: 300 20px/20px Open Sans, Arial, Helvetica, sans-serif;
	color: #FFF;
	text-transform: uppercase;
	display: block;
}
.section.section-expand .section-title strong {
	font-size: 50px;
	line-height: 50px;
}
.section .section-title p {
	margin: 0;
	font: 300 14px/20px Open Sans, Arial, Helvetica, sans-serif;
	color: rgba(255,255,255,0.75);
}
.section.section-expand .section-title p {
	font-size: 20px;
	line-height: 20px;
}
.section.section-expand .section-title p span {
	font-weight: 700;
}
.section .section-title i {
	margin: 0 auto 10px;
	width: 30px;
	height: 30px;
	font-size: 30px;
	line-height: 30px;
	color: rgba(255,255,255,0.5);
	text-align: center;
	display: block;
	transition: all linear 0.25s;
	-ms-transition: all linear 0.25s;
	-moz-transition: all linear 0.25s;
	-webkit-transition: all linear 0.25s;
	-o-transition: all linear 0.25s;
}
.section:hover .section-title i {
	margin-top: -10px;
	width: 50px;
	height: 50px;
	font-size: 50px;
	line-height: 50px;
	color: #FFF;
}
.section.section-expand .section-title i {
	margin-top: 0;
	padding: 20px;
	width: 100px;
	height: 100px;
	background: rgba(255,255,255,0.25);
	border-radius: 100%;
	font-size: 100px;
	line-height: 100px;
	color: #FFF;
}
.section.section-expand .section-title:hover i {
	opacity: 0.75;
}
.section .container {
	margin: auto;
	display: none;
}
.section.section-expand .container {
	display: block;
}

/* Thumbnails */
.thumbnails li {
	margin: 0;
	background: rgba(255,255,255,0);
	border-radius: 10px;
	transition: all linear 0.25s;
	-ms-transition: all linear 0.25s;
	-moz-transition: all linear 0.25s;
	-webkit-transition: all linear 0.25s;
	-o-transition: all linear 0.25s;
}
.thumbnails li:nth-child(2n+2) {
	background: rgba(255,255,255,0.25);
}
.thumbnails li:hover {
	background: rgba(0,0,0,0.1);
}
.thumbnails li .thumbnail {
	padding: 20px 0;
	border: none;
	box-shadow: none;
	text-align: center;
}
.thumbnails li .thumbnail i {
	margin: auto;
	width: 100px;
	height: 100px;
	font-size: 80px;
	line-height: 100px;
	color: #FFF;
	text-align: center;
	display: block;
	transition: all linear 0.15s;
	-ms-transition: all linear 0.15s;
	-moz-transition: all linear 0.15s;
	-webkit-transition: all linear 0.15s;
	-o-transition: all linear 0.15s;
}
.thumbnails li:hover .thumbnail i {
	font-size: 90px;
	text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}
.thumbnails li .thumbnail .social-links a {
	width: 30px;
	height: 30px;
	text-align: center;
	display: inline-block;
}
.thumbnails li .thumbnail .social-links i {
	width: 30px;
	height: 30px;
	font-size: 20px;
	line-height: 30px;
	color: #999;
	text-shadow: none;
	transition: all linear 0.15s;
	-ms-transition: all linear 0.15s;
	-moz-transition: all linear 0.15s;
	-webkit-transition: all linear 0.15s;
	-o-transition: all linear 0.15s;
}
.thumbnails li .thumbnail .social-links a:hover i {
	color: #333;
}
.thumbnails li .thumbnail .thumb {
	margin: 20px auto;
	transition: all linear 0.15s;
	-ms-transition: all linear 0.15s;
	-moz-transition: all linear 0.15s;
	-webkit-transition: all linear 0.15s;
	-o-transition: all linear 0.15s;
}
.thumbnails li:hover .thumbnail .thumb {
	border-radius: 100%;
	box-shadow: 0 10px 0 rgba(255,255,255,0.35), 0 -10px 0 rgba(0,0,0,0.15), 10px 0 0 rgba(255,255,255,0.35), -10px 0 0 rgba(0,0,0,0.15);
	transform: scale(0.8, 0.8);
	-ms-transform: scale(0.8, 0.8);
	-moz-transform: scale(0.8, 0.8);
	-webkit-transform: scale(0.8, 0.8);
	-o-transform: scale(0.8, 0.8);
}
.thumbnails li .thumbnail h5 {
	margin-bottom: 5px;
}
.thumbnails li .thumbnail p {
	margin-bottom: 20px;
	font-size: 12px;
}

/* Progress Bar */


/* Products Filter */
.filter {
	margin-bottom: 40px;
	margin-left: 0;
	padding: 14px 0;
	border-top: 1px dashed rgba(255,255,255,0.5);
	border-bottom: 1px dashed rgba(255,255,255,0.5);
	line-height: 30px;
	text-align: center;
}
.filter p {
	margin-bottom: 0;
}
.filter p a {
	margin: 0 10px;
	font-size: 14px;
	font-family: Roboto Condensed, Arial, Helvetica, sans-serif;
	color: #FFF;
	text-transform: uppercase;
}
.filter p a:hover, .filter p a.active {
	color: #333;
}

/* Folio Items */
.item .view {
	margin: -25px 0 0 -25px;
	width: 50px;
	height: 50px;
	background: rgba(0,0,0,0.25);
	border-radius: 100%;
	line-height: 50px;
	color: #FFF;
	text-align: center;
	opacity: 0;
	cursor: pointer;
	display: block;
	position: absolute;
	top: -25px;
	left: 50%;
	transition: all linear 0.15s;
	-ms-transition: all linear 0.15s;
	-moz-transition: all linear 0.15s;
	-webkit-transition: all linear 0.15s;
	-o-transition: all linear 0.15s;
}
.item:hover .view {
	opacity: 1;
	top: 50%;
}
.item:hover .view:hover {
	margin: -50px 0 0 -50px;
	width: 100px;
	height: 100px;
	background: rgba(0,0,0,0.5);
	line-height: 100px;
}
.item .item-detail {
	padding: 0;
	border: 10px solid rgba(0,0,0,0.1);
	box-shadow: 0 0 20px rgba(0,0,0,1);
	text-align: center;
	opacity: 0;
	position: absolute;
	top: -9999px;
	left: 0;
}
.item.open .item-detail {
	padding: 20px;
	opacity: 1;
	top: 0;
	transition: padding linear 0.25s, opacity linear 0.25s;
	-ms-transition: padding linear 0.25s, opacity linear 0.25s;
	-moz-transition: padding linear 0.25s, opacity linear 0.25s;
	-webkit-transition: padding linear 0.25s, opacity linear 0.25s;
	-o-transition: padding linear 0.25s, opacity linear 0.25s;
}
.item .item-detail em.date {
	margin: 10px 0 20px;
	display: block;
}
.item .item-detail p.lead {
	margin-bottom: 20px;
}
.item .item-detail p {
	margin-bottom: 0;
	font-family: Open Sans, Arial, Helvetica, sans-serif;
}
.item .item-detail a img {
	margin-bottom: 20px;
	transition: all linear 0.25s;
	-ms-transition: all linear 0.25s;
	-moz-transition: all linear 0.25s;
	-webkit-transition: all linear 0.25s;
	-o-transition: all linear 0.25s;
}
.item .item-detail a img:hover {
	border-radius: 5px;
	box-shadow: 0 10px 0 rgba(0,0,0,0.1);
}
.item .item-close {
	width: 30px;
	height: 30px;
	background: rgba(0,0,0,0.1);
	line-height: 30px;
	color: #FFF;
	text-align: center;
	cursor: pointer;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	transition: all linear 0.25s;
	-ms-transition: all linear 0.25s;
	-moz-transition: all linear 0.25s;
	-webkit-transition: all linear 0.25s;
	-o-transition: all linear 0.25s;
}
.item .item-close:hover {
	background: rgba(0,0,0,0.25);
}

/* Address */
address {
	margin: 20px auto 50px;
	padding: 19px;
	width: 260px;
	border: 1px dashed rgba(255,255,255,0.5);
	font: normal 16px/20px Open Sans, Arial, Helvetica, sans-serif;
	text-align: center;
}
address a {
	color: #FFF;
}
address a:hover {
	color: #333;
}

/* Contact Form */
.contact-form {
	margin: 20px 0 50px;
}

.label1{
	margin: 10px 10px 0 20px;
	min-width: 300px;
	padding-bottom: 20px;
	padding-left: 15px;
	width: 315px;
	max-width: 320px;
	min-height: 50px;
	height: 60px;
	max-height: 80px;
	background: rgba(0,0,0,0.1);
	border: none;
	border-radius: 0;
	box-shadow: none;
	font: normal 14px/20px Open Sans, Arial, Helvetica, sans-serif;
	color: #FFF;
	float: left;
}

.label2 {
	margin: 10px 10px 0 20px;
	min-width: 300px;
	padding-bottom: 20px;
	padding-top: 10px;
	padding-left: 15px;
	width: 315px;
	max-width: 320px;
	min-height: 30px;
	height: 30px;
	max-height: 80px;
	background: rgba(0,0,0,0.1);
	border: none;
	border-radius: 0;
	box-shadow: none;
	font: normal 14px/20px Open Sans, Arial, Helvetica, sans-serif;
	color: #FFF;
	float: left;
}

.contact-form input[type=text], .contact-form input[type=password],.contact-form input[type=number],.contact-form input[type=email] {
	margin: 10px 10px 0 20px;
	padding: 15px;
	min-width: 280px;
	width: 300px;
	max-width: 300px;
	min-height: 20px;
	height: 20px;
	max-height: 20px;
	background: rgba(0,0,0,0.1);
	border: none;
	border-radius: 0;
	box-shadow: none;
	font: normal 14px/20px Open Sans, Arial, Helvetica, sans-serif;
	color: #FFF;
	float: left;
}

.contact-form input[type=text]::-ms-input-placeholder, .contact-form textarea::-ms-input-placeholder {
 color:    #FFF;
}
.contact-form input[type=text]::-moz-input-placeholder, .contact-form textarea::-moz-input-placeholder {
 color:    #FFF;
}
.contact-form input[type=text]::-webkit-input-placeholder, .contact-form textarea::-webkit-input-placeholder {
 color:    #FFF;
}
.contact-form input[type=text]::-o-input-placeholder, .contact-form textarea::-o-input-placeholder {
 color:    #FFF;
}



.contact-form input[type=password]::-ms-input-placeholder, .contact-form textarea::-ms-input-placeholder {
    color:    #FFF;
}
.contact-form input[type=password]::-moz-input-placeholder, .contact-form textarea::-moz-input-placeholder {
    color:    #FFF;
}
.contact-form input[type=password]::-webkit-input-placeholder, .contact-form textarea::-webkit-input-placeholder {
    color:    #FFF;
}
.contact-form input[type=password]::-o-input-placeholder, .contact-form textarea::-o-input-placeholder {
    color:    #FFF;
}


.contact-form input[type=number]::-ms-input-placeholder, .contact-form textarea::-ms-input-placeholder {
    color:    #FFF;
}
.contact-form input[type=number]::-moz-input-placeholder, .contact-form textarea::-moz-input-placeholder {
    color:    #FFF;
}
.contact-form input[type=number]::-webkit-input-placeholder, .contact-form textarea::-webkit-input-placeholder {
    color:    #FFF;
}
.contact-form input[type=number]::-o-input-placeholder, .contact-form textarea::-o-input-placeholder {
    color:    #FFF;
}

.contact-form input[type=email]::-ms-input-placeholder, .contact-form textarea::-ms-input-placeholder {
    color:    #FFF;
}
.contact-form input[type=email]::-moz-input-placeholder, .contact-form textarea::-moz-input-placeholder {
    color:    #FFF;
}
.contact-form input[type=email]::-webkit-input-placeholder, .contact-form textarea::-webkit-input-placeholder {
    color:    #FFF;
}
.contact-form input[type=email]::-o-input-placeholder, .contact-form textarea::-o-input-placeholder {
    color:    #FFF;
}

.contact-form button, .contact-form button:hover, .contact-form button:focus {
	margin: 0;
	width: 330px;
    margin-top: 20px;
    margin-left: 20px;
	height: 50px;
}

/* Google Map */
#map-canvas {
	margin: 20px 0 50px;
	width: 100%;
	height: 350px;
	z-index: 100;
}
#map-canvas div.gmnoprint, #map-canvas div div + div a img {
	display: none
}

/* ScrollBar */
.nicescroll-rails {
	width: 5px !important;
	height: 100% !important;
	background: none !important;
	position: fixed !important;
	top: 0 !important;
	right: 0 !important;
	left: inherit !important;
	z-index: 10 !important;
}
.nicescroll-rails div {
	width: 5px !important;
	background: rgba(0,0,0,0.5) !important;
	border: none !important;
	border-radius: 0 !important;
}

/* Desktop small layout */
@media (min-width: 980px) and (max-width: 1199px) {
.logo {
	margin-top: -150px;
}
.section {
	margin-top: 0;
}
	.label1 {
		margin-left: -10px;
		min-width: 300px;
		width: 300px;
		max-width: 300px;
	}
.contact-form input[type=text], .contact-form input[type=password],.contact-form input[type=number],.contact-form input[type=email]{
	margin-left: -10px;
    min-width: 300px;
	width: 300px;
	max-width: 300px;
}
.contact-form button, .contact-form button:hover, .contact-form button:focus {
    margin-left: -10px;
	width: 330px;
}
}

/* Tablet layout */
@media (min-width: 768px) and (max-width: 979px) {
.logo {
	margin-top: -150px;
}
.section {
	margin-top: 0;
}

	.label1 {
		margin-left: -50px;
		min-width: 300px;
		width: 300px;
		max-width: 300px;
	}
.contact-form input[type=text], .contact-form input[type=password],.contact-form input[type=number],.contact-form input[type=email]{
    margin-left: -50px;
    min-width: 300px;
    width: 300px;
    max-width: 300px;
}
.contact-form button, .contact-form button:hover, .contact-form button:focus {
    margin-left: -50px;
    width: 330px;
}
}

/* Mobile landscape layout */
@media (min-width: 480px) and (max-width: 767px) {
body {
	padding-right: 0;
	padding-left: 0;
}
.section {
	margin-top: -171px;
	width: 10%;
	background-color: #000;
	height: 15%;
}
.section .section-title {
	margin: 33px 0;
}
.section .section-title strong, .section .section-title p {
	display: none;
}

	/* Sections About */
	.section#boombox {
		right: 86%;
	}
	.section#respawn {
		right: 76%;
	}
	.section#bestengineer  {
		right: 66%;
	}

	/* Sections About */
	.section#about {
		right: 56%;
	}

	/* Sections Services */
	.section#services {
		right: 46%;
	}

	.section#predvaita {
		right: 36%;
	}

	/* Sections Portfolio */
	.section#folio {
		right: 26%;
	}

	/* Sections register */
	.section#register {
		right: 16%;
	}

	/* Sections Contact */
	.section#contact {
		right: 6%;
	}
	.section#hackerjack {
		right: -100%;
	}

	.section#bashemup {
		right: -100%;
	}

	.section#hacknight {
		right: -100%;
	}

	.section#maestro {
		right: -100%;
	}

	.section#codezilla {
		right: -100%;
	}

	.section#codeswap {
		right: -100%;
	}

	.section#highq {
		right: -100%;
	}

	.section#langx {
		right: -100%;
	}

	.section#sidhandics {
		right: -100%;
	}


	.section#startaction {
		right: -100%;
	}

	.section#mrcad {
		right: -100%;
	}

	.section#shutterbug {
		right: -100%;
	}

	.section#swatthebug {
		right: -100%;
	}

	.section#contraption {
		right: -100%;
	}

	.section#crossfire {
		right: -100%;
	}

	.section#pirate {
		right: -100%;
	}
	.section#mysteriarch {
		right: -100%;
	}
	.section#hudrolaunch {
		right: -100%;
	}
	.section#disco {
		right: -100%;
	}
	.section#cognizance {
		right: -100%;
	}
	.section#wikisurf {
		right: -100%;
	}
	.section#roadies {
		right: -100%;
	}

	.label1 {
		margin: 0 auto 10px;
		min-width: 300px;
		width: 300px;
		max-width: 300px;
		min-height: 60px;
		height: 70px;
		max-height: 70px;
		float: none;
	}
.contact-form input[type=text], .contact-form input[type=password],.contact-form input[type=number],.contact-form input[type=email]{
	margin: 0 auto 10px;
	min-width: 300px;
	width: 300px;
	max-width: 300px;
	min-height: 50px;
	height: 50px;
	max-height: 50px;
	float: none;
}
.contact-form textarea {
	min-width: 300px;
	width: 300px;
	max-width: 300px;
	display: block;
}
.contact-form button, .contact-form button:hover, .contact-form button:focus {
	margin: 0 auto;
	width: 300px;
	display: block;
}
}


/* Mobile portrait layout */
@media (max-width: 479px) {
body {
	padding-right: 0;
	padding-left: 0;
}
.section {
	margin-top: -139px;
	width: 15%;
	background-color: #000000;
	height: 15%;
}
.section .section-title {
	margin: 17px 5px;
}
.section .section-title strong, .section .section-title p {
	display: none;
}
    .section#boombox {
        right: 86%;
    }
	.section#respawn {
		right: 74%;
	}
	.section#bestengineer  {
		right: 62%;
	}

    /* Sections About */
    .section#about {
        right: 50%;
    }

    /* Sections Services */
    .section#services {
        right: 38%;
    }

    /* Sections Portfolio */
    .section#folio {
        right: 26%;
    }

    /* Sections register */
    .section#register {
        right: 14%;
    }

    /* Sections Contact */
    .section#contact {
        right: 2%;
    }

	.label1  {
		margin: 0 auto 10px;
		min-width: 300px;
		width: 300px;
		padding-bottom: 10px;
		max-width: 300px;
		min-height: 60px;
		height: 70px;
		max-height: 70px;
		float: none;
	}
.contact-form input[type=text], .contact-form input[type=password],.contact-form input[type=number],.contact-form input[type=email] {
	margin: 0 auto 10px;
	min-width: 300px;
	width: 300px;
	max-width: 300px;
	min-height: 50px;
	height: 50px;
	max-height: 50px;
	float: none;
}
.contact-form textarea {
	min-width: 270px;
	width: 270px;
	max-width: 270px;
	display: block;
}
.contact-form button, .contact-form button:hover, .contact-form button:focus {
	margin: 0 auto;
	width: 300px;
	display: block;
}
}
